#general:
.env

#only include the .env file that is in tests/resources/.env
!tests/resources/env/.env

#vscode ignores
local/*
/.vscode/
/temp/
*.code-workspace
.VSCodeCounter/

#PHP:
php_errors.log

# Cpmposer ignores
/vendor/
composer.lock
composer.phar

# Docker ignores
docker-compose.override.yml


# phpunit caches
.phpunit.result.cache
.phpunit.cache

# php-cs
.php_cs.cache
phpcs.result

#no .devcontainer folder
.devcontainer/*

#no docker folder
docker/*

#python ignores:
__pycache__/
venv/
