

{{ include('header.twig') }}

<body>

<div id="swagger-ui"></div>

<script>
    {% if json %}
        var swagger_spec = `
            {{ spec|raw}}
        `;
        window.onload = () => {
            window.ui = SwaggerUIBundle({
                spec: swagger_spec,
                dom_id: '#swagger-ui',
            });
        };
    {% else %}
        window.onload = () => {
            window.ui = SwaggerUIBundle({
                url: '{{ spec|raw }}',
                dom_id: '#swagger-ui',
            });
        };
    {% endif %}
  
</script>

{{ include('footer.twig') }}
